/* 会社概要
------------------------------------------------------ */
.about-list {
	border-top: 1px dashed $c_key1;
  line-height: 1.5;
}
.about-list__item {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  border-bottom: 1px dashed $c_key1;
}
@include medium {
  .about-list__item {
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
  }
  .about-list__title {
    display: flex;
    align-items: center;
	  width: 200px;
  }
  .about-list__data {
    flex-shrink: 0;
  }
}

